$menu-fontstyle: "Open Sans"
$titles: (
  font: ("Poppins", sans-serif),
  size: 32px,
  color: #3c3c3d,
  weight: 600
)
$background-color-1: #33781E
$background-color-2: #FAFAFA
$background-color-3: #FFFFFF
$first-color: #439829
$second-color: #33781E
$third-color: #5B9F53
$fourth-color: #F2FAEF
$fith-color: #ECF6E8
$sixth-color: #B6DAB1

* 
  padding: 0
  margin: 0
  font-family: "Open Sans", Arial, Helvetica, sans-serif
  box-sizing: border-box

html
  scroll-behavior: smooth

/* Cabeçalho */
header 
  background-color: $background-color-1
  height: 80px
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 60px
  position: relative

.logomarca img 
  height: 40px

.header-menu 
  display: flex
  gap: 40px
  font-family: $menu-fontstyle
  font-weight: 600
  font-size: 16px

.header-menu a 
  color: white
  text-decoration: none
  font-size: 14px
  font-family: Arial, Helvetica, sans-serif
  transition: 0.3s

.header-menu a:hover 
  opacity: 0.8;

/* Cabeçalho - Hambúrguer */
.menu-toggle 
  display: none
  font-size: 28px
  color: white
  cursor: pointer

/* Seção Início */
.inicio 
    position: relative
    height: 500px
    background: url("/img/background-vista-mirante.png") center/cover no-repeat
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    color: white

.overlay 
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.45)
    top: 0
    left: 0

.inicio-conteudo 
    position: relative
    z-index: 2
    max-width: 700px
    padding: 0 20px
    display: flex
    flex-direction: column
    gap: 24px

.inicio h1 
    font-size: 40px
    font-weight: 700

.inicio-input
    position: relative
    width: 100%
    margin: 0 auto

.inicio-input input 
    width: 100%
    max-width: 450px
    padding: 14px 20px
    border-radius: 6px
    border: none
    font-size: 14px
    outline: none

.lista-bairros 
    position: absolute
    width: 100%
    background: white
    list-style: none
    padding: 0
    margin: 5px 0 0 0
    border-radius: 6px
    max-height: 200px
    overflow-y: auto
    display: none
    box-shadow: 0 4px 10px rgba(0,0,0,0.1)

.lista-bairros li 
    padding: 10px
    cursor: pointer
    color: #3c3c3c

.lista-bairros li:hover 
    background-color: #e8f5e9

.inicio-logos 
    list-style: none
    display: flex
    justify-content: center
    gap: 20px

.inicio-logos img 
    height: 33px
    background: white
    padding: 6px 10px
    border-radius: 4px

/* Formulário */
.formulario 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: $background-color-2
    padding: 60px 20px
    text-align: center
    gap: 28px

.formulario h2 
    font-family: map-get($titles, font)
    font-size: map-get($titles, size)
    color: map-get($titles, color)
    font-weight: map-get($titles, weight)

.formulario-box 
    background-color: $background-color-1
    max-width: 600px
    width: 100%
    margin: 0 48px
    padding: 25px
    border-radius: 6px
    display: flex
    flex-direction: column
    gap: 15px

.formulario-box-campo
    display: flex;
    background-color: white;
    border-radius: 8px;

.formulario-box-campo span 
    padding: 12px 15px
    border-radius: 4px
    border: none
    font-size: 14px
    outline: none

.formulario-box-campo strong 
    padding: 10px 0

/* Contato */
.contato 
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    gap: 28px
    padding: 80px 60px
    background-color: $fourth-color

.contato-conteudo
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;

.contato-conteudo h2 
    font-family: map-get($titles, font)
    font-size: map-get($titles, size)
    color: map-get($titles, color)
    font-weight: map-get($titles, weight)

.contato-conteudo h2 span 
    font-size: 36px
    font-weight: 700
    color: $second-color

.contato-conteudo a
    background-color: $first-color
    padding: 12px 25px
    border: none
    border-radius: 6px
    cursor: pointer
    transition: 0.3s
    color: white
    font-size: 14px
    text-decoration: none;

.contato-conteudo a:hover 
    background-color: $second-color

.contato-mapa 
    width: 100%
    height: 350px
    border-radius: 8px
    overflow: hidden

/* Passos */
.passos 
    padding: 80px 60px
    text-align: center
    background-color: $background-color-1 
    display: flex
    flex-direction: column
    gap: 28px

.passos h2 
    font-family: map-get($titles, font)
    font-size: map-get($titles, size)
    color: #FFFFFF
    font-weight: map-get($titles, weight)

.passos-cards 
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px

.passo-card 
    background-color: $first-color
    padding: 35px 25px
    border-radius: 10px
    transition: 0.3s
    display: flex
    flex-direction: column
    align-items: flex-start
    text-align: left

.passo-card:hover 
    transform: translateY(-5px)
    box-shadow: 0 10px 25px rgba(0,0,0,0.08)

.passo-card h3 
    margin: 15px 0 10px
    font-size: 18px
    color: #FFFFFF

.passo-card p 
    font-size: 14px
    color: #FFFFFF
    line-height: 1.5

/* Categorias */
.categorias 
    padding: 48px 50px;
    background-color: $background-color-3
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px

.categorias h2 
    font-family: map-get($titles, font)
    font-size: map-get($titles, size)
    color: map-get($titles, color)
    font-weight: map-get($titles, weight)

.categorias-grid 
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 12px

.categorias-grid-item 
    padding: 25px
    border-radius: 10px
    transition: 0.3s
    border: 1px solid #e0e0e042

.categorias-grid-item.bg-1 
    background-color: $background-color-2

.categorias-grid-item.bg-2
    background-color: $fith-color

.categorias-grid-item.bg-3
    background-color: $sixth-color

.categorias-grid-item:hover 
    transform: translateY(-5px)
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06)

.categorias-grid-item span 
    display: flex
    align-items: center
    gap: 12px
    font-weight: 600
    font-size: 16px
    color: #000000
    margin-bottom: 10px

.categorias-grid-item span img 
    width: 24px
    height: 24px

.categorias-grid-item p 
    font-size: 14px
    color: #3c3c3c

/* Formulario */
.denuncie 
    padding: 90px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    background-color: $background-color-2

.denuncie h2
    font-family: map-get($titles, font)
    font-size: map-get($titles, size)
    color: map-get($titles, color)
    font-weight: map-get($titles, weight)

.denuncie-btn 
    display: inline-block
    background-color: $background-color-1
    color: #FFFFFF
    padding: 14px 32px
    border-radius: 6px
    font-weight: 600
    text-decoration: none
    transition: 0.3s

.denuncie-btn:hover
    background-color: $first-color
    transform: translateY(-3px)

/* FAQ Dúvidas Frequentes */
.faq 
    position: relative
    padding: 100px 20px
    background: url("/img/background-rua-das-palmeiras.png") center/cover no-repeat

.faq .overlay 
    position: absolute
    inset: 0
    background: rgba(0, 0, 0, 0.6)

.faq-conteudo
    position: relative
    z-index: 2
    max-width: 800px
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 28px

.faq h2
    font-family: map-get($titles, font)
    font-size: map-get($titles, size)
    color: #FFFFFF
    font-weight: map-get($titles, weight)

.faq-container 
    display: flex
    flex-direction: column
    gap: 20px

.faq-box 
    background-color: #FFFFFF
    border-radius: 8px
    overflow: hidden

.faq-box-duvida
    padding: 18px 20px
    cursor: pointer
    position: relative
    font-weight: 600

.faq-box-duvida::after 
    content: "+"
    position: absolute
    right: 20px
    bottom: 16px
    font-size: 22px
    transition: 0.3s

.faq-box.active .faq-box-duvida::after 
    content: "−"

.faq-box-resposta 
    max-height: 0
    overflow: hidden
    transition: max-height 0.3s ease
    padding: 0 20px

.faq-box.active .faq-box-resposta
    max-height: 500px

.faq-box-resposta p 
    padding-bottom: 20px
    font-size: 14px
    line-height: 1.6

/* Footer */
footer 
    background-color: $background-color-1
    padding: 50px 20px 30px 20px
    text-align: center
    color: #FFFFFF
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 48px

footer img 
    height: 60px

.footer-contacts 
    list-style: none
    display: flex
    justify-content: center
    gap: 40px
    padding: 0
    margin: 0
    flex-wrap: wrap

.footer-contact-item a
    display: flex
    align-items: center
    gap: 8px   
    font-size: 14px
    text-decoration: none
    color: #FFFFFF
    transition: 0.3s

.footer-contact-item a:hover
    color: $fith-color
    transform: scale(1.1)

.footer-contact-item img 
    height: 18px

/* Página - formulario.html */
.formulario-de-denuncia
    position: relative
    height: 300px
    background: url("/img/background-expoville.png") center/cover no-repeat
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    color: white

.formulario-de-denuncia h1 
    font-size: 40px
    font-weight: 700
    z-index: 9
    padding: 0 20px

.conteudo-formulario
    background-color: $background-color-3
    padding: 60px 20px
    display: flex
    justify-content: center

.conteudo-formulario-container 
    background-color: $background-color-2
    width: 100%
    max-width: 800px
    padding: 30px
    border-radius: 8px
    display: flex
    flex-direction: column
    gap: 18px

.conteudo-formulario-container span 
    font-size: 12px;
    color: $first-color
    font-weight: 500

.conteudo-formulario-container input,
.conteudo-formulario-container textarea 
    padding: 14px 16px
    border-radius: 6px
    border: none
    background-color: #e5e5e5
    font-size: 14px
    outline: none
    width: 100%

.conteudo-formulario-container textarea 
    min-height: 120px
    resize: none

.conteudo-formulario-container input[type="file"] 
    background-color: #e5e5e5
    padding: 10px
    cursor: pointer

.conteudo-formulario-container input:focus,
.conteudo-formulario-container textarea:focus 
    box-shadow: 0 0 0 2px #66bb6a

.conteudo-formulario-container button
    background-color: $background-color-1
    padding: 12px 
    color: $fourth-color
    border: none
    border-radius: 8px
    transition: 0.3s

.conteudo-formulario-container button:hover
    cursor: pointer
    background-color: $third-color

.pagina-contato 
    height: 70vh
    display: flex;
    justify-content: center;

.contato-cards 
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    align-items: center
    gap: 54px

.contato-cards > a 
    text-decoration: none

.contato-cards > a > .card
    background-color:$fith-color
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 18px
    padding: 64px 32px
    border-radius: 18px
    transition: 0.3s

.contato-cards > a > .card:hover
    transform: translateY(-5px)
    background-color: #b9d9b5
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08)

.card > span 
    font-family: "Poppins", sans-serif
    color: #3c3c3c

.card > p 
    font-size: 18px
    font-weight: 600
    font-family: "Poppins", sans-serif
    color: $second-color

/* @medias Mobile - Responsividade */

@media (max-width: 768px) 

    header 
        padding: 0 20px

    .menu-toggle 
        display: block

    .header-menu 
        position: absolute
        top: 80px
        left: 0
        width: 100%
        background-color: $background-color-1
        flex-direction: column
        align-items: center
        gap: 20px
        padding: 20px 0
        display: none

    .header-menu.active 
        display: flex
        z-index: 999
        background-color: $third-color

    .inicio 
        height: 450px

    .inicio h1 
        font-size: 28px

    .inicio-input input 
        max-width: 100%

    .inicio-logos img 
        height: 33px
    
    .formulario-box 
        width: 100%

    .formulario h2 
        font-size: 22px
    
    .contato 
        grid-template-columns: 1fr
        text-align: center
        padding: 60px 20px

    .contato-conteudo
        align-items: center

    .contato-mapa 
        height: 300px

    .passos 
        padding: 60px 20px

    .passos-cards 
        grid-template-columns: 1fr

    .passo-card img
        width: 16px

    .categorias 
        padding: 60px 20px

    .categorias-grid 
        grid-template-columns: 1fr
        gap: 25px

    .categorias h2 
        font-size: 22px
        
    .denuncie 
        padding: 70px 20px

    .denuncie h2 
        font-size: 24px

    .denuncie p 
        font-size: 14px

    .footer-contacts 
        flex-direction: column
        gap: 15px
        align-items: center

    footer img 
        height: 50px

    .pagina-contato 
        height: 100%
        padding: 32px

    .contato-cards
        grid-template-columns: 1fr